[2021-05-21 11:16] atanasbozhkov opened #2 "Wrong param parsing for CLI"
I tried to use the ninjabot CLI (both Linux x64_86 version and Windows version) to download historical data. Same thing happens on v.0.0.1 and 0.0.2

If I use it as per the documentation
` ./ninjabot download --pair ETHUSDT --timeframe 1d --days 30 --output ./eth.csv`

I get the following resutl:
[code]

However passing the params before the `download` command - seems to work
[code]

Seems like ei

[2021-05-21 11:35] rodrigo-brito commented on #2
You are right, the command `download` is useless, the fix is very simple.
We need to move the `Action` code to a subcommand https://github.com/urfave/cli/blob/master/docs/v2/manual.md#subcommands:

[code]

Currently, the code is in the root of CLI.

[2021-05-22 02:43] rodrigo-brito commented on #2
Closed by https://github.com/rodrigo-brito/ninjabot/commit/6234e1910b6ddeb869e8a97d48a5863cf4c92ce9

[2021-05-22 02:43] #2 closed

[2021-05-22 02:54] rodrigo-brito opened #4 "Include indicators on chart"
Currently, we only display the price and orders in the ninjabot chart.

Maybe, we can include some options when creating the chart instance. eg:

[code]

Where `section` is a name of a group of indicators. eg: MACD
`indicator` is a function that receive a `Dataframe` and returns a `Series`
`options` are optional attributes, such as color, width, etc.

[2021-05-22 04:13] tardisx opened #5 "backtesting sometimes crashes with "concurrent map write""
Roughly 1/10 runs I get a crash, fairly repeatable.

[code]

I am on go version go1.16.3 darwin/amd64
commit 985b1c0560d36d0bb7bc56381ae836794bd9e51c

[2021-05-22 14:27] rodrigo-brito commented on #5
Hi @tardisx, I notice this issue today.
It looks like a race condition when load candles for backtesting.
I think it can be solved with some mutexes.

[2021-05-25 07:27] SeriousM opened #9 "No data processed whth $SHIB"
Hi, first of all, thank you for this project. I'm a professional c# architect and this project helps me a lot to  learn about trading bots and go.

I tried the backtesting with the SHIB coin (I know.. just see how many loss the bot would have taken) but for some reason the output shows NaNs and zeros, the chart is empty.

[code]

What could be the problem? SHIB developed itself as starting very hi

[2021-05-25 10:46] rodrigo-brito commented on #9
I'm glad you enjoyed the project.

If you are using the example strategy, it only buys in bull markets.
To debug your backtesting, you can enable logs changing the log level: `ninjabot.WithLogLevel(log.ErrorLevel)` in backtesting.

What is the time interval of the backtesting?

[2021-05-25 14:02] SeriousM commented on #9
the csv data was downloaded with 1h timeframe x 180 days.
`ninjabot.WithLogLevel(log.ErrorLevel)` is already set but when changed it just reports n-times
[code]

this is the shib-testdata.
[shibusdt.csv](https://github.com/rodrigo-brito/ninjabot/files/6539860/shibusdt.csv)

It's not a problem to me, I just wanted to check if the readout should be NaN instead "-3000% market change".

[2021-05-25 15:50] rodrigo-brito commented on #9
The `NaN` is a bug. We divided the average of gains with the average of losses. This is the payoff formula. And division by zero results in an error.

[2021-06-04 02:35] #5 closed

[2021-06-04 02:35] #9 closed

[2021-06-04 02:45] rodrigo-brito opened #10 "Backtesting with OCO Order and multiple coins"
We have an issue when backtesting strategies with OCO Orders and multiple coins. The final result is correct, but the table with results for each coin presents a wrong report.

- Example with `strategies.OCOSell` and backtesting BTCUSDT and ETHUSDT.

[code]

It's probably related to async execution of LIMIT / STOP orders.
The `paperwallet` validates the creation orders and assets limit, but in the

[2021-06-15 02:40] rodrigo-brito opened #11 "Bot finish afeter websocket close"
When the websocket connection closes, the bot finish with the following error:
[code]
Maybe a connection retry with backoff works fine for this case.

[2021-06-15 03:49] jafri opened #12 "Fee Validation on Market orders"
Trying to understand why taker/maker commission is added to validation for amounts when doing a market sell or buy on Binance

Lets say I have 10 ETH as balance, if I try to sell 10 ETH with bot currently, validate will fail ErrInsufficientFunds since it adds `TakerCommission`

Wouldn't it be better to exclude commission on market orders, like:

[code]

[2021-06-15 11:19] rodrigo-brito commented on #12
Hi @jafri, to sell all the open positions, you have to consider the fee. For Binance, it is 0.1%.
I normally use small sizes than 100% (risk control issues).

I recommend you to keep a small amount in (USDT, BNB, BUSD) to take these fees.
For example, when you use: `assetPosition, quotePosition, err := broker.Position(df.Pair)` for buy 100% of your quote. Use `quotePosition * 0.99` (1% reserved fo

[2021-06-16 05:54] jafri commented on #12
@rodrigo-brito wouldn't that make it not possible to sell 100% of your holdings?

When using Binance UI directly, I can simply select 100% of the asset to sell and it will sell 100% and automatically deduct fees

[2021-06-16 10:55] rodrigo-brito commented on #12
Yes, but it considers the calculation of the fee in this 100% and notices that it is not accurate. After selling 100%, there is always a small amount of coins left.

[2021-06-17 02:15] jafri commented on #12
I understand that a little bit of coins are left due to precision size

Here is the code I am discussing

https://github.com/rodrigo-brito/ninjabot/blob/63062e8529d5b8a41cfc4cbe71d56ccc589c4991/pkg/exchange/binance.go#L135-L139

From my understanding if my balance is 1 BTC, and I pass `quantity` as 1 on a SELL MARKET order through binance, wouldn't that execute correctly through Binance API? After

[2021-06-17 11:59] rodrigo-brito commented on #12
I will make some tests, maybe it works.
About the precision, it rounds up.

We use FloatFormat:
https://github.com/rodrigo-brito/ninjabot/blob/6b4b9b8857b47714c5bbd49a945ade01a6226037/pkg/exchange/binance.go#L258-L264

Example: https://play.golang.org/p/GG-xUA8-CNC

[2021-07-28 15:04] rodrigo-brito commented on #12
Hi @jafri, I make some tests and are you shure, we do not need this validation. I will refactor the code and will remove it.

[2021-07-28 18:00] jafri commented on #12
I'm not 100% sure that just removing validation is what is needed @rodrigo-brito, I just know my order with amount was failing through this library which succeeded doing the same amount in UI

[2021-07-29 01:14] rodrigo-brito commented on #12
I will try to remove it and change the format function to avoid problems with aproximation

[2021-09-13 02:14] rodrigo-brito opened #17 "Setup documentation page"
We need a documentation website to help developers do setup and configure Ninjabot
A good project to setup the docs with markdown is: https://www.docsy.dev/docs/

[2021-09-13 02:26] rodrigo-brito opened #18 "Display max drawdown in a trade"
Drawdown is a good indicator for trade entries.
Will be great if Ninjabot display the max drawdown reported in backtesting.

Reference https://en.wikipedia.org/wiki/Drawdown_(economics)

[2021-09-25 11:19] rodrigo-brito commented on #11
Closed by https://github.com/rodrigo-brito/ninjabot/pull/19

[2021-09-25 11:19] #11 closed

[2021-09-25 16:35] rodrigo-brito commented on #17
https://rodrigo-brito.github.io/ninjabot/

[2021-09-25 16:35] #17 closed

[2021-09-30 23:58] rodrigo-brito opened #20 "Create a template for issues and pull requests"
We need a template for issues and pull requests

How Github template works: https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/manually-creating-a-single-issue-template-for-your-repository

Examples of issues templates: https://github.com/search?utf8=%E2%9C%93&q=in%3Apath+issue_template.md&type=Code&ref=searchresults

Examples of PR templates: https

[2021-10-01 00:03] rodrigo-brito opened #21 "Remove usage of Ent framework"
We use Ent framework in a few operations when we need to register a new order or calculate the average profit. But we can replace with direct queries in SQLite.

Database schema: https://github.com/rodrigo-brito/ninjabot/blob/main/storage/schema/order.go

- [ ] Remove the code from https://github.com/rodrigo-brito/ninjabot/blob/main/storage
- [ ] Create a repository and operations for
  - [ ] Crea

[2021-10-01 00:08] rodrigo-brito commented on #10
Closed with https://github.com/rodrigo-brito/ninjabot/commit/07c25958261076585d6e1c352602cd64034ada2c

[2021-10-01 00:08] #10 closed

[2021-10-01 00:16] Shatakshi0805 commented on #20
Hi, I would like to work on this. Could you please assign this issue to me?

[2021-10-01 00:21] rodrigo-brito commented on #20
Hi @Shatakshi0805, shure! Feel free to choose a template.

[2021-10-01 00:24] rodrigo-brito commented on #20
We have a openning PR for Pull Request templates (https://github.com/rodrigo-brito/ninjabot/pull/22)
Can you help me with the issue template?

[2021-10-01 00:30] Shatakshi0805 commented on #20
yes, definitely. would be making a PR soon.

[2021-10-01 00:48] Shatakshi0805 commented on #20
I have made the PR. Please review the same.

[2021-10-01 10:34] rafaelrubbioli commented on #21
I would like to help with this one!

[2021-10-01 10:59] rodrigo-brito opened #24 "Include coverage badge and step in github actions"
We need a badge to report test coverage.
We also need set up it on Github Actions.

Examples with codeconv: https://github.com/codecov/codecov-action

[2021-10-01 11:06] sudiptog81 commented on #24
I'd like to work on this :)

[2021-10-01 12:16] #24 closed

[2021-10-01 12:20] rodrigo-brito opened #26 "Write unit tests for Data Feed module"
We need some unit tests for feed.go file: https://github.com/rodrigo-brito/ninjabot/blob/main/order/feed.go

[2021-10-01 12:45] FreddyJilson commented on #18
Hi, I am interested to take a look at this. Could you please assign the task to me?

[2021-10-01 12:46] rodrigo-brito opened #27 "Include unit tests for download module"
We need to improve the coverage of Download module: https://github.com/rodrigo-brito/ninjabot/blob/main/download/download.go

You can use the CSV Feed as data source to simulate the exchange.

[code]

[2021-10-01 12:52] FreddyJilson commented on #18
Hi, I am interested to take a look. Could you please assign the task to me?

[2021-10-01 13:07] rodrigo-brito commented on #18
Hi @FreddyJilson, shure!

[2021-10-01 13:10] FreddyJilson commented on #18
thanks!

[2021-10-01 13:10] LucasZatta commented on #27
Hi there! Could you please assign me this issue ? :)

[2021-10-01 13:11] rodrigo-brito commented on #27
Hi @LucasZatta, have fun!

[2021-10-01 13:11] LucasZatta commented on #27
Thanks @rodrigo-brito !

[2021-10-01 15:53] rafaelrubbioli commented on #21
I opened [a pr](https://github.com/rodrigo-brito/ninjabot/pull/29) for this issue!

[2021-10-01 17:07] #21 closed

[2021-10-01 17:44] rodrigo-brito opened #30 "Improve coverage for model package"
Package: https://github.com/rodrigo-brito/ninjabot/tree/main/model

[2021-10-01 17:50] VictorAssunc commented on #30
I would like to work on it

[2021-10-01 18:07] #26 closed

[2021-10-01 18:12] rodrigo-brito commented on #20
Closed by https://github.com/rodrigo-brito/ninjabot/pull/23

[2021-10-01 18:12] #20 closed

[2021-10-01 18:24] rodrigo-brito opened #31 "Replace global variable in plot module with a REST API"
In plot module, we load candle information with a template. The vales are loaded in a global variable and read buy the JS script.
Template load: https://github.com/rodrigo-brito/ninjabot/blob/main/plot/chart.go#L136-L138
Global variable: https://github.com/rodrigo-brito/ninjabot/blob/main/plot/assets/chart.html#L14

Maybe, we can remove this, and create a simple API to transmit the data with a RES

[2021-10-03 11:30] rodrigo-brito commented on #4
Now, we can define custom indicators:
[code]

Result

![image](https://user-images.githubusercontent.com/7620947/135751681-164c6019-0cfa-4cbe-baf3-52b1f24b9dae.png)

Closed by https://github.com/rodrigo-brito/ninjabot/commit/0b69e8ea96e9c086f411473187da2863ce398bcc https://github.com/rodrigo-brito/ninjabot/commit/0776d005225028ea57c232d024a206dd7a399bbb

[2021-10-03 11:30] #4 closed

[2021-10-03 11:31] #27 closed

[2021-10-03 15:42] rodrigo-brito opened #33 "Create MACD indicator for Ninjabot Chart"
To implement MACD, we need to implement a new Struct similar to EMA: https://github.com/rodrigo-brito/ninjabot/blob/516e75064107daf73495bf1d091b5dc1cba18c09/plot/indicator/ema.go

The struct must implement the following interface:
[code]

MACD Indicator contains 3 metrics (value, signal, and histogram)
You can use TALIB to get these values: `talib.Macd(...)`

To test the new indicator, you can inc

[2021-10-03 15:46] rodrigo-brito opened #34 "Implement Bollinger Bands in Ninjabot Chart"
To implement Bolinger Bands, we need to implement a new Struct similar to EMA: https://github.com/rodrigo-brito/ninjabot/blob/516e75064107daf73495bf1d091b5dc1cba18c09/plot/indicator/ema.go

The struct must implement the following interface:
[code]

BB Indicator contains 3 metrics (upper band, mid-band, and lower band)
You can use TALIB to get these values: `talib.BBands(...)`

To test the new indi

[2021-10-04 00:08] #31 closed

[2021-10-04 13:28] vinicio commented on #34
Hi, sir, can I please have the pleasure to implement that?

[2021-10-04 13:29] rodrigo-brito commented on #34
Shure!

![image](https://user-images.githubusercontent.com/7620947/135860088-0e563ff1-adb7-4399-98e4-fd00a37c8c18.png)

[2021-10-05 23:31] #34 closed

[2021-10-07 15:21] spreeker opened #40 "small websocket reliabilty improvements."
https://github.com/rodrigo-brito/ninjabot/blob/67e91b0ba93f7aabbb18f048e85c039e03c1d50e/exchange/binance.go#L470

setting this to true helps.

`binance.WebsocketKeepalive = true`

func StartListenIn(ccandle chan Candle, cerr chan error, symbol Symbol, period string) error {

	done, _, err := binance.WsKlineServe(string(symbol), period, func(event *binance.WsKlineEvent) {
		ccandle <- CandleFromWsK

[2021-10-07 16:44] rodrigo-brito commented on #40
I'm using a different strategy.
The infinite loop with the `for` is necessary to key the connection opened for a long time, Binance guarantees only 24h of open connection and closes this without an error.

This format stop with a single condition: Context cancelation.
I the example posted bellow, you connection will close in 24h (sometimes more)

We also uses the keep alive parameter here:
https:/

[2021-10-07 16:49] #40 closed, assigned to nobody

[2021-10-09 04:14] rodrigo-brito opened #43 "Rename all references of `symbol` to `pair`"
We have two references to the asset code. In some places, we named it as `pair` and in other places are `symbol`.

We need to patronize this and change all references to `pair`

For example: https://github.com/rodrigo-brito/ninjabot/blob/9be8210d42a9dbb536e7a6a83f5357359fd604f6/download/download.go#L57

[2021-10-09 08:36] mairagee524 commented on #43
Hi, I might be able to take this on! For clarification, you want me to change all `symbol` to `pair` in the asset code?

[2021-10-09 11:06] rodrigo-brito commented on #43
Yes. Exaxtly.

[2021-10-09 12:54] rodrigo-brito opened #45 "Retrive pair list dinamicly from Binance"
We have a static list of pairs available to trade in https://github.com/rodrigo-brito/ninjabot/blob/5d25165ffdf86c810b4a158485ba9611eea2a5bc/exchange/symbol.go#L8

But new coins are included and removed every day.

As an alternative, we can retrieve this data from Binance. This info is public and do not need a API key to request. As example, we collected this data here:
https://github.com/rodrigo-

[2021-10-10 06:13] spreeker commented on #40
Hi but the context cancellation test is only called when the web-socket connection return without error. once a day.
So bot solutions work just fine since they are in an infinite loop.
If the connection fails you might want to hard crash the program since you dont want to "think" or pretend you are running.

[2021-10-10 15:34] rodrigo-brito commented on #18
No problem @FreddyJilson

[2021-10-10 21:22] spreeker commented on #40
Ah I looked at the source and `done` is a channel. So the select at the end of the for loop is 'blocking' on either context of connection done :) . I thought the WsKlineService was blocking.

[2021-10-14 13:23] rodrigo-brito opened #49 "Include esbuild to transpile JS code"
We need to setup a transpiler to include support for old browsers versions.
We import the JS Files here: https://github.com/rodrigo-brito/ninjabot/blob/main/plot/chart.go#L186-L193

A good way to do it: https://pkg.go.dev/github.com/evanw/esbuild/pkg/api
ESBuild can be used in the native Go language, with an embedded JS code.

[2021-10-19 02:27] #49 closed

[2021-10-26 00:42] rodrigo-brito opened #53 "Include button to export CSV with orders in chart page"
We can include a new API endpoint, eg. `https://localhost:8080/trades.csv` which returns all trades performed in a given backtesting.
Then, we can include a button in the chart page to access this endpoint and download all trades performed.

[2021-10-31 19:21] #18 closed

[2021-11-13 23:40] rodrigo-brito commented on #33
Hi @marco-silveira, how it is going? Do you need help with this issue?

[2021-11-14 11:43] rodrigo-brito opened #59 "Include progress bar in backtesting"
We have good libraries and thread-safe to display the backtesting progress: https://github.com/schollz/progressbar

[2021-11-18 03:21] #45 closed

[2021-11-19 23:06] seguidor777 opened #64 "Balanced portfolio settings"
Hi all,

I'm writing a ninjabot client and I want to handle a balanced portfolio as in this project [1]. I saw that we can pass a pairs list to the ninjabot settings, but we cannot specify the weight for each asset. Are you interested on implementing this feature? if so, I could help with the implementation, I have good experience in Go. If not, I'll have to work in a separate fork to make use of

[2021-11-20 00:52] rodrigo-brito commented on #64
Hi @seguidor777, the Ninjabot allows the developer to control the size of each order. Then you can set the weight in your strategy and create orders to balance the position in a period of time. I will create an example for you. Just a minute.

[2021-11-20 00:52] #64 closed

[2021-11-20 02:00] rodrigo-brito opened #66 "Create docs for Plot / Charts"
We need more information about plot results and customizations

[2021-11-20 02:01] rodrigo-brito opened #67 "Create documentation for custom indicators"
We need more informations about custom indicators in charts and custom strategies

[2021-11-20 02:03] rodrigo-brito opened #68 "Create docs about for broker operations"
- [ ] Position
- [ ] CreateOrderOCO
- [ ] CreateOrderLimit
- [ ] CreateOrderMarket
- [ ] CreateOrderMarketQuote
- [ ] Cancel

[2021-11-26 15:39] spreeker opened #72 "csv float precision default %f is not good enough for many assets. BIG FAT BUG!!"
func (c Candle) ToSlice() []string

uses %f to describe floats. close, open high and low prices.

which in the case of shiba inu  and others gives candles like these missing some data...

1632200100**,0.000007,0.000007,0.000007,0.000007,**6735653639.0,62
1632200400,0.000007,0.000007,0.000007,0.000007,6397726216.0,115
1632200700,0.000007,0.000007,0.000007,0.000007,14491282312.0,71

It ofcourse shou

[2021-11-26 23:14] rodrigo-brito commented on #72
Hi @spreeker, thank you for the report.
Indeed, this precision may affect the results.
A good way do improve this precision is using pair precision given by Binance here: https://api.binance.com/api/v1/exchangeInfo

![image](https://user-images.githubusercontent.com/7620947/143660544-73b8597e-5414-49ad-bed2-99fa1d6ccd78.png)

As we can see, DOGE has 8 digits of precision, and we can use a custom p

[2021-11-28 02:18] rodrigo-brito commented on #72
Closed by https://github.com/rodrigo-brito/ninjabot/commit/6c0593e779939f1c889f666f510b7c249c322604

[2021-11-28 02:18] #72 closed

[2021-11-28 02:19] rodrigo-brito commented on #72
@spreeker I will create a new release with the fix. Please, can you update your CLI and try to download the dataset again?

[2021-11-28 06:44] panapol-p commented on #59
Hi, Can i help to implement this feature?

[2021-11-28 10:07] rodrigo-brito commented on #59
Hi @panapol-p , shure.

A suggestion: use the number of candles to track the progress.

[2021-11-28 11:12] rodrigo-brito opened #73 "Crete docs for Telegram integration"
- How to create a bot with Bot father
- Telegram settings
- Telegram commands

[2021-12-01 06:29] panapol-p opened #76 "Include progressbar in dowloading"
## Description
sometime when I downlaod big data I didnt know it is working or not (no result more than 10 min)

## Relevant Context
add progress bar to show progress by revise func Download in download.go

## Steps to Solution(s)
revise download.go and try to download big historical data

## Links to Resources
progress bar [https://github.com/schollz/progressbar](https://github.com/schollz/progre

[2021-12-01 10:26] #59 closed

[2021-12-02 02:48] panapol-p commented on #76
hi @rodrigo-brito, I found lost candle data during work this feature

when load candle more than 500 , it will be split by batchSize for 500 each loop
some range of time, binance is not return full of 500 (may be gap or lose stamp data or etc)

for example
[https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=5m&startTime=1628698800000&endTime=1628848800000](https://api.binance.com/api/v3

[2021-12-02 11:14] rodrigo-brito commented on #76
It looks like a big problem. I think we have two options:
- First, we can only display a warning informing the missing data interval.
- Second, we can interpolate the result for missing data and fill this interval.

What you think about it?

[2021-12-02 15:25] panapol-p commented on #76
I think infrom by waning meessage is better because after i try to pulled data by using below
download --pair BTCUSDT --timeframe 1h --days 120

I found lost data more than 4 rows (4 hours)
![image](https://user-images.githubusercontent.com/34530268/144448514-3306d55c-33f4-4531-8edc-cf34ba4d8830.png)

and 2 rows (2 hours)
![image](https://user-images.githubusercontent.com/34530268/144449029-337eed

[2021-12-04 11:02] rodrigo-brito commented on #76
Great! Normally i use smaller timeframe for candlesticks and convert to a larger timeframe, so I don't even notice these problems.

[2021-12-08 13:45] sheenhx opened #80 "Looking for talents"
Hi we are a Berlin based Blockchain&AI company, looking for talents like you to join, if you are interested please write to hr@matchx.ai

[2021-12-09 13:06] rodrigo-brito commented on #80
No, thanks!

[2021-12-09 13:06] #80 closed

[2021-12-09 13:06] rodrigo-brito commented on #76
Closed by #79

[2021-12-09 13:06] #76 closed

[2021-12-11 10:10] panapol-p commented on #53
I would like to do this feature.

[2021-12-11 21:41] rodrigo-brito commented on #53
Have fun @panapol-p!

[2021-12-26 10:03] wade-liwei opened #85 "Is there any document about the project ?"
hello there

Do you have document for introduce the project,
I am a blockchain engineer.

[2021-12-26 10:05] wade-liwei commented on #85
do you have real time chat group ?

[2021-12-26 19:13] rodrigo-brito commented on #85
Hi @wade-liwei, we have a small getting started here: https://rodrigo-brito.github.io/ninjabot/docs/getting-started/
We do not have a chat group.

For discussions, we have https://github.com/rodrigo-brito/ninjabot/discussions

[2021-12-26 19:13] #85 closed

[2022-01-01 15:29] rodrigo-brito opened #87 "Update telegram balance value in real time"
If the strategy has a timeframe of 1 hour, then the `/balance` will update each one hour.
But we can check the wallet size and get the coin value in real time.
![image](https://user-images.githubusercontent.com/7620947/147853685-e81ad966-d1a5-4adb-8a19-271154953f56.png)

For this, we chan change PositionValue, to an new exchange request with fresh values.
https://github.com/rodrigo-brito/ninjabot/

[2022-01-01 15:31] rodrigo-brito opened #88 "Improve Telegram error handling"
When the bot fail placing an order, the final message do not includes information about the order. For example:
![image](https://user-images.githubusercontent.com/7620947/147854067-cce4fd8b-9786-4a68-9a9a-1ba3b207f7ac.png)

In this case, we can include information about the trading pair, order size, and order type.

[2022-01-22 23:59] rodrigo-brito commented on #53
Closed by https://github.com/rodrigo-brito/ninjabot/pull/86

[2022-01-22 23:59] #53 closed

[2022-01-23 13:57] rodrigo-brito commented on #73
![telegram](https://user-images.githubusercontent.com/7620947/150681951-f81c83ae-203e-4b48-8fba-14c59c08abb4.gif)

[2022-01-23 14:06] #73 closed

[2022-01-23 14:38] bh90210 opened #94 "code=-2014, API-key format invalid"
Hello,

I am getting this error
[code]
I am assuming it is coming from somewhere in here? https://github.com/rodrigo-brito/ninjabot/blob/main/exchange/binance.go

Any pointers as to why or how to solve this problem are welcome.

[2022-01-23 15:18] rodrigo-brito commented on #94
Hi @bh90210, I think it is a problem with your Key from finance.  Have you checked the key content?

[2022-01-23 17:33] rodrigo-brito commented on #66
![image](https://user-images.githubusercontent.com/7620947/150690553-1d1db358-2b05-42eb-8909-2bf254a2460b.png)

[2022-01-23 17:51] rodrigo-brito commented on #66
Done https://rodrigo-brito.github.io/ninjabot/docs/ploting/

[2022-01-23 17:51] #66 closed

[2022-01-23 17:52] rodrigo-brito commented on #67
Done https://rodrigo-brito.github.io/ninjabot/docs/ploting/

[2022-01-23 17:52] #67 closed

[2022-01-23 17:53] rodrigo-brito commented on #87
Done https://github.com/rodrigo-brito/ninjabot/commit/4952fe6e501be8eb0b6187e08b1a17712fdca1d4
Now the balance updates each minute.

[2022-01-23 17:53] #87 closed

[2022-01-24 11:46] bh90210 commented on #94
I created a new one and still the same error.
Prior to the error logging says everything works as expected.

"Have you checked the key content?"
Can you please clarify what you mean by this?

[2022-01-24 12:26] rodrigo-brito commented on #94
We define de API Key / API Secret when we create this block, correct?
https://github.com/rodrigo-brito/ninjabot/blob/main/examples/binance/main.go#L36-L40

Sometimes, the key comes from an ENV variable or a settings file, and a bug in this process may pass an empty variable, for example, a typo. My suggestion: print your key in the console with `fmt.Println` and check if is not empty.

[2022-01-24 12:40] bh90210 commented on #94
θη

[2022-01-24 12:40] #94 closed

[2022-01-24 13:15] rodrigo-brito commented on #94
No problem.

[2022-02-04 05:39] wade-liwei opened #98 "could the project support the strategy ?"
////////////////////////////////////////////////////////////
//  Copyright by HPotter v1.0 20/06/2014
// The Moving Average Crossover trading strategy is possibly the most popular
// trading strategy in the world of trading. First of them were written in the
// middle of XX century, when commodities trading strategies became popular.
// This strategy is a good example of so-called traditional stra

[2022-02-04 06:13] wade-liwei commented on #98
and how to plot the chart  on web page ?

[2022-02-04 10:56] rodrigo-brito commented on #98
Hi @wade-liwei, Ninjabot supports custom strategies, you can create it with code.
We have a example of Crossover Strategy here: https://github.com/rodrigo-brito/ninjabot/blob/main/examples/strategies/emacross.go

You can adapt the code with your parameters.

[2022-02-20 16:26] FrontRunBotPancakeswap opened #103 "This Front Run Bot working good"
Front Run Bot BNB Pancakeswap
0.5 BNB -> Front Run Bot Make 5 BNB per day.
1 BNB -> Front Run Bot Make 15 BNB per day.
5 BNB -> Front Run Bot Make 50 BNB per day.
...500 BNB -> Front Run Bot Make 5000 BNB per day.
More for more profit. Check this proof.
https://frontrunbot.blogspot.com/2022/02/front-run-bot-change-your-life.html

[2022-02-20 16:33] #103 closed

[2022-03-13 12:21] andreimerfu opened #106 "Futures support"
Do you have any plan to add support for Binance futures in the near future? Thanks!

[2022-03-13 14:00] rodrigo-brito commented on #106
Hi @andreimerfu, I am planning to support Binance Futures. But this will take a while. I'm working alone on the project.

[2022-03-15 22:23] gunebakan commented on #33
Hi Rodrigo. I wrote the MACD indicator and plot it. How can I push it?

[2022-03-15 22:45] rodrigo-brito commented on #33
Hi @gunebakan, shure.

[2022-03-19 12:35] #33 closed

[2022-03-19 12:40] rodrigo-brito opened #110 "Include new chart indicators"
We can create and initialize indicators for chats in Ninjabot.

Example: https://github.com/rodrigo-brito/ninjabot/blob/516e75064107daf73495bf1d091b5dc1cba18c09/examples/backtesting/main.go#L58-L63

A indicator is a simple struct that implements the follow interface:
[code]

Here, we have a simple example of Exponential Moving Average (EMA): https://github.com/rodrigo-brito/ninjabot/blob/516e75064

[2022-03-19 13:25] rodrigo-brito opened #111 "Include support for FTX"
To support FTX Exchange, we need to implement a new struct with the follow interface.

[code]

- The Feeder will cover the data feed (candles)
- The Broker will cover exchange operations.

We have some libraries to test: https://github.com/go-numb/go-ftx

[2022-03-19 16:36] RobertKwiatkowski commented on #110
Hi,
This looks very interesting since I'm a little bit interested in trading (stocks, but still) and relatively new to GO.
If I'm correct all I have to do is to create new file which would implement the `Indicator `interface? Just similarly to the `ema.go`?

[2022-03-19 16:40] rodrigo-brito commented on #110
Hi @RobertKwiatkowski , exactly like ema.go. The format is very simple.

[2022-03-19 23:33] RobertKwiatkowski commented on #88
I wanted to resolve this issue however the entire logic is a little bit complicated to me:
At this moment I created function:
[code]
And used it inside `func (c *Controller) CreateOrderMarketQuote(side model.SideType, pair string, amount float64) (model.Order, error)`
However I'm not sure if it's the best/cleanest way.

[2022-03-19 23:34] RobertKwiatkowski commented on #88
![Screenshot_20220320-003122_Telegram](https://user-images.githubusercontent.com/101144854/159141956-dea6478d-2f8e-4bee-bde7-c1b376f2f636.jpg)

[2022-03-27 12:23] #88 closed

[2022-03-28 07:23] davidxiao opened #119 "reckon could remove Preload function for warming?"
Hello, @rodrigo-brito, mate,
   Thanks for your great work for the project.
   I could not wait to play with it today, it's wonderful.
   But a question about if function `Proload` is a valid usage here?
   https://github.com/rodrigo-brito/ninjabot/blob/main/ninjabot.go#L298
   `Proload` is used to set up consuming candle, but its subscription is empty yet( subscribed from line 315), so at this st

[2022-03-28 10:31] #119 closed

[2022-03-28 10:53] rodrigo-brito commented on #119
You can setup the "Warmup Period" in your strategy, just put zero, and it will not preload candles.

[2022-03-29 11:23] andreimerfu commented on #106
Let me know how I can help with this feature. I'm not sure how do you want to include this feature in the current codebase. I'm wondering how we can change the Balance struct by using terms like `Wallet Balance`, `Margin Balance`, and `Unrealized PNL` without damaging the SPOT market. Also, I'm not sure where we'll introduce the leverage details for each asset.

Any feedback, ideas from your side

[2022-03-29 23:55] rodrigo-brito opened #122 "Telegram stop is not working"
Telegram's command `/stop` is not working. We define the logic here:
https://github.com/rodrigo-brito/ninjabot/blob/1a3585bedbaf66ba35e9377635877aa688e5a1e0/order/controller.go#L293-L300

The idea is:
- The bot will only execute orders when it is in `running` status. But it is not working.

[2022-03-30 00:00] rodrigo-brito opened #123 "Improve `/balance` command performance"
When we request the balance summary, ninjabot will request the position for each trading pair and report a summary.
But in this case, we request the same function multiple times: `binance.Account()`

https://github.com/rodrigo-brito/ninjabot/blob/1a3585bedbaf66ba35e9377635877aa688e5a1e0/exchange/binance.go#L444-L455

A good approach to improve the performance are: Request `binance.Account()` once

[2022-03-30 00:02] rodrigo-brito commented on #106
@andreimerfu we can create a new branch to explore some ideias, what you think?

[2022-03-30 00:13] rodrigo-brito commented on #106
Currently, this is the structure of the bot
![image](https://user-images.githubusercontent.com/7620947/160725608-feb5303a-871c-40e0-a127-b5fe336a4709.png)

We can use all the structure of Data Feeds, Order Feeds, Plugins and Storage.

We have to modify controllers and exchange modules. The exchange is an interface composed by two parts
- Broker - Execute operations (buy, sell, stop, etc)
- Feeder

[2022-03-31 01:13] rodrigo-brito opened #124 "Extract chart from ninjabot core"
We have some issues with the evolution of the Javascript Module. We can use only vanilla JS because it's is compiled in runtime with ES Build.

A good approach will be an isolated development of Chart Module. Then, we can use complex components with modern libraries such as React / Vue.

The chart in Ninjabot core will work exactly as it does now. But, it will include only a simple HTML template w

[2022-04-01 05:05] panapol-p commented on #123
I would like to do this feature ;)

[2022-04-01 07:04] davidxiao opened #126 "the queue seems deadlock with latest changes,"
With latest code change, the priority queue seems deadlock when tested by running paperwallet example.

wrapping the below code block in anonymous function works, but not so sure it has other potential issues.
https://github.com/rodrigo-brito/ninjabot/blob/main/model/priorityqueue.go#L30-L35

Reckon it's not necessary to use priority queue at all for the bot? sorry maybe i could be wrong because i

[2022-04-01 10:26] rodrigo-brito commented on #126
Thanks for the report. I will do a check.

The priority queue is important manly for backtesting. I will give a simple example:

- We have 3 pairs of coins for trading: BTCUSDT, ETHUSDT, and GRTUSDT.
- We have 3 CSV input files:
  - BTCUSDT: from 2013 to 2022
  - ETHUSDT: from 2020 to 2021
  - GRTUST: from 2021 to 2022

We read all CSV feed at the same time and the bot does not have information ab

[2022-04-01 15:49] #126 closed

[2022-04-01 15:52] rodrigo-brito commented on #126
@davidxiao fixed

[2022-04-01 22:24] rodrigo-brito opened #128 "Merge indictors from strategy and chart module"
Today, we need to define custom indicators in the `Indicator` function and also include custom indicators for the chart module.
When we need to change a parameter, we have to change in both places. A good improvement is a merge between both parts.

- When we include an indicator in your strategy, it is automatically include in the chart module.
- We have to provide an option to hide a given indica

[2022-04-01 22:33] davidxiao commented on #126
nice

[2022-04-01 22:40] davidxiao opened #129 "some questions or new features"
Here are some questions or new features

- how to implement trailing stop tool? it'd be great if can share more info?

- what's thoughts for polling orders from exchange every second? how about using user data stream?

- in strategy, currently Timeframe is a single frame, how about i will use both `15m` and `1h` for example? and if so, maybe need to resample the candles?

- how about adding hooks

[2022-04-02 00:22] rodrigo-brito opened #131 "Update orders status with user data stream"
In the discussion https://github.com/rodrigo-brito/ninjabot/discussions/130, @davidxiao suggest to use Binance user stream instead of orders polling.

When we have orders with status PENDNG, the bot will poll from Binance the order status each second. It can be replaced by a stream that receive updates from Binance.

The logic is place here: https://github.com/rodrigo-brito/ninjabot/blob/1a3585bed

[2022-04-02 00:47] davidxiao commented on #131
question to clear:

use `Binance user stream` as alternative? or replace polling with `Binance user stream`?

[2022-04-02 01:01] rodrigo-brito commented on #131
I think we can replace it.

[2022-04-02 07:43] davidxiao commented on #126
Hi, @rodrigo-brito ,
   With 2nd consideration, I am wondering if it's better and easier to maintain to move the priority queue to back testing part? I reckon it's not consistent and uncertain even if it works sometimes for HFT for me with my limited knowledge.

Thanks

[2022-04-02 12:16] rodrigo-brito commented on #126
I don't think it's worth removing, you'll still need a FIFO structure to control the input flow

[2022-04-03 00:44] davidxiao opened #132 "should it be `>=`?"
this line
https://github.com/rodrigo-brito/ninjabot/blob/main/exchange/paperwallet.go#L250

it seems a bug?
when the order is buy, should buy only when `order.Price >= candle.Close`?

[2022-04-03 00:51] rodrigo-brito commented on #132
No, it is like an Order Limit, if your "Limit Price" is bellow the market value, your order is executed.
We have unit tests for this, you can check here: https://github.com/rodrigo-brito/ninjabot/blob/main/exchange/paperwallet_test.go#L19-L33

[2022-04-03 00:51] #132 closed

[2022-04-03 01:18] davidxiao commented on #132
hi, @rodrigo-brito , mate,
   Sorry, doesn't makes sense to me yet,
   Yes, it's limited order, let's say i place a buy order for BTC with price $10000, and currently the candle.price is : $46000, according to the logic, the order will execute?

Thanks

[2022-04-03 01:21] rodrigo-brito commented on #132
Exact! Market orders and limit orders, both will execute!

[2022-04-03 01:22] davidxiao commented on #132
but I can not buy BTC with $1000 whose current price is $46000, right?

[2022-04-03 12:57] rodrigo-brito commented on #132
@davidxiao I created a Discord server, for general chat: https://discord.gg/TGCrUH972E

[2022-04-03 16:09] rodrigo-brito commented on #132
Now I got my mistake, it is a bug.  tried some simulations here and understand  the problem. I was confusing the order with SideSell but it's SideBuy

[2022-04-06 02:15] rodrigo-brito opened #136 "Include SQN metric in the backtesting result"
Van's System Quality Number (SQN) is a metric designed to assist traders in determining the strengths, desirability, quality etc of a trading system.

The following values suggest the following “qualities” :
- 1.6 - 1.9 Below average
- 2.0 - 2.4 Average
- 2.5 - 2.9 Good
- 3.0 - 5.0 Excellent
- 5.1 - 6.9 Superb
- 7.0 - Holy Grail

Formula: `SquareRoot(NumberTrades) * Average(TradesProfit) / StdDev(

[2022-04-14 04:30] panapol-p commented on #123
I find better solution for this issue, I will work on it first, the pull request was cloesd that need implement 2 function with the same functional for new exchange it is not good I think

[2022-04-15 00:37] rodrigo-brito commented on #123
Ok @panapol-p, thank you for the help!

[2022-04-15 16:26] #136 closed

[2022-04-15 21:33] rodrigo-brito opened #140 "Include trailing stop tool"
Now, strategies have access to OnPartialCandle function, then we can implement the trailing stop tool

[2022-05-07 17:32] panapol-p commented on #123
Hi @rodrigo-brito  after I try to work with my new idea, it's not worked
now I re-open the pull request.
could you please review this one thank you.

[2022-05-08 00:52] rodrigo-brito commented on #123
Hi @panapol-p, thank you. I will check soon.

[2022-05-15 05:11] davidxiao commented on #131
sorry, i can not work on this because i am busy with my other staff, considering it's only improvement and not urgent, so i am closing it

[2022-06-25 07:37] wade-liwei opened #158 "Could you please add the Pivotal Point strategy?"
Hi, there

Could you please add the Pivotal Point strategy?

https://www.babypips.com/learn/forex/forex-pivot-points

[2022-06-26 18:50] rodrigo-brito commented on #158
Hi @wade-liwei, it's look like an indicator. How it works?

[2022-07-02 01:14] wade-liwei opened #162 "How's going with the Web UI Controller?"

[2022-07-02 21:17] rodrigo-brito commented on #162
This is not an issue, you can follow update in the issue: https://github.com/rodrigo-brito/ninjabot/issues/124

[2022-07-02 21:17] #162 closed

[2022-07-03 15:08] wade-liwei opened #165 "I can not find out where is code to remove old data in dataframe."
I can not find out where is code to remove old data in the data frame.

Could you please share the code that removes the old data in the data frame?

[2022-07-03 20:05] rodrigo-brito commented on #165
In the current version, It will be cleaned only after a application restart.

[2022-07-04 02:06] wade-liwei commented on #165
got it.

thanks a lot.

[2022-07-14 03:58] rodrigo-brito opened #172 "Replace order size logic"
We have to replace the order size logic with the Binance helper function: https://pkg.go.dev/github.com/adshao/go-binance/v2/common#AmountToLotSize

[2022-07-14 03:58] #172 closed

[2022-07-15 01:30] #140 closed

[2022-07-17 12:48] rodrigo-brito opened #174 "Fix precision value in plot results (scientific notation)"
When a high value or a low value is showed in the chart, the plot library reduces to scientific notation, a example below:

![image](https://user-images.githubusercontent.com/7620947/179398959-8052fe11-ec39-45c2-90cf-64220faed167.png)

It is very difficult to interpret, maybe a RAW notation helps the users to understand the results better.

[2022-07-28 02:47] rodrigo-brito commented on #106
Now we have a testnet for futeres, it will be great in the module implementation: https://testnet.binancefuture.com/en/futures/BTCUSDT

[2022-07-28 18:15] panapol-p opened #185 "support more storage type for persist order history"
when we run ninjabot on serverless, cloud container, etc.
I think better way if we persist data on external db or external file storage like postgresql , mongodb , s3 , etc.
Now, this bot support only file and memory.

[2022-08-02 17:26] #174 closed

[2022-10-08 17:11] #158 closed

[2022-10-08 17:11] #128 closed

[2022-10-08 22:37] rodrigo-brito opened #202 "Create unit test for `tools/trailing.go`"
The component of trailing stop is not covered by unit test: https://github.com/rodrigo-brito/ninjabot/blob/main/tools/trailing.go

[2022-10-08 22:38] vinicio commented on #202
Can I do this, big brito?

[2022-10-08 22:38] rodrigo-brito opened #203 "Create unit test for `tools/scheduler.go`"
The component of scheduler is not covered by unit test: https://github.com/rodrigo-brito/ninjabot/blob/main/tools/scheduler.go

[2022-10-08 22:39] rodrigo-brito commented on #202
shure! have fun!

[2022-10-08 22:41] rodrigo-brito opened #204 "Change order side for schedule"
The order side is wrong, the correct in this line is `SideTypeBuy`

https://github.com/rodrigo-brito/ninjabot/blob/main/tools/scheduler.go#L35

[2022-10-08 22:50] #204 closed

[2022-10-09 00:22] ginglis13 commented on #203
@rodrigo-brito could I give this issue a try?

[2022-10-09 00:52] rodrigo-brito commented on #203
Sure, have fun!

Obter o Outlook para Android<https://aka.ms/AAb9ysg>
________________________________
From: Gavin Inglis ***@***.***>
Sent: Saturday, October 8, 2022 9:22:41 PM
To: rodrigo-brito/ninjabot ***@***.***>
Cc: Rodrigo Brito ***@***.***>; Mention ***@***.***>
Subject: Re: [rodrigo-brito/ninjabot] Create unit test for `tools/scheduler.go` (Issue #203)

@rodrigo-brito<https://github.com/r

[2022-10-09 14:43] panapol-p commented on #185
Hi, let me do this feature.

[2022-10-09 15:04] #202 closed

[2022-10-10 00:07] rodrigo-brito commented on #185
Hi @panapol-p, it will be great!

[2022-10-10 16:50] panapol-p commented on #185
Task
- [ ] support sql (mysql , postgresql , sql server , clickhouse , sqlite)
- [ ] support no-sql (mongodb)
- [ ] update Doc

[2022-10-16 16:53] panapol-p commented on #123
Hi, @rodrigo-brito  I think this issue was fixed. may be we can close this issue. or you have any suggestion for this one?

[2022-10-16 18:28] rodrigo-brito commented on #123
Sure! Closing due #184

[2022-10-16 18:28] #123 closed

[2022-10-17 03:05] panapol-p commented on #185
after we have type of storage like memory, file, and sql. I think it's useful for persistent data. no need for more types.
what do you think about this one?

[2022-10-17 14:46] rodrigo-brito commented on #185
Hi @panapol-p, i think that SQL, file and memory is enough. I will close the issue.
Thanks you so much for the help!

[2022-10-17 14:46] #185 closed

[2022-10-18 13:05] rodrigo-brito opened #212 "Remove header `trades`"
The header `trades` is not required.
The function `ToSlice()` is not inserting value for this column: https://github.com/rodrigo-brito/ninjabot/blob/0dcd4382a40d5255be8c73c30633e06b2694f900/model/model.go#L85-L93

You have to remove the header here and fix the tests (if needed)
https://github.com/rodrigo-brito/ninjabot/blob/main/download/download.go#L100

[2022-10-18 13:06] rafaelrubbioli commented on #212
@rodrigo-brito can i work on this one?

[2022-10-18 13:35] rafaelrubbioli commented on #212
I opened a [PR](https://github.com/rodrigo-brito/ninjabot/pull/213) for this!

[2022-10-18 17:05] #212 closed

[2022-10-28 05:07] zhihuba opened #214 "Request Triangle Arbitrage Multicycle Example"
It's a good project and I checked the documentation. Can be used to make portfolios, and custom cycles. But how to implement a strategy similar to the triangle arbitrage. or handle both 1-hour and 4-hour candles in one strategy

[2022-10-29 23:05] rodrigo-brito commented on #214
Hi @zhihuba, you can use a stretegy in timeframe of `1h` and resample it to `4h` with the `GroupCandles` of `talib`:
https://github.com/markcheno/go-talib/blob/master/talib.go#L5949

[2022-11-21 19:33] Laconty commented on #111
I suppose this task is irrelevant now and you can close it 🙂 @rodrigo-brito

[2022-11-21 20:23] #111 closed

[2022-11-24 06:57] nusicvvv opened #221 "model.Candle Complete might be improper for the Exchange other than Binance"
I love ninjatrader for its simplicity. I need to make a bot using GateIO only to find, property Complete(bool) on model. It's impossible for me to determine which tick is the last tick for the ongoing (partial) candle, unless the tick to come next is for the next candle. I've never see a complete prop came along with tick data in other exchange than binance. this trait might limit ninjatrader's ex

[2022-11-24 11:12] rodrigo-brito commented on #221
Hello X, the `complete` field is only used in a production environment, I believe it does not affect backtesting, could you share how that is. are you entering with your csv?